/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

/**
 * Basic styling
 */
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #B3B3B3;
  background-color: #565555;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 15.75px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #e33;
  text-decoration: none;
  position: relative;
  display: inline;
  padding-bottom: 2px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

pre {
  font-family: 'Lato', sans-serif;
  max-width: 540px;
  display: block;
  font-size: 0.875em;
  font-family: Consolas;
  color: #333;
  line-height: 1.3em;
  margin: 0px auto;
  padding: 0 10px; }

code {
  background: #fafafd;
  padding: 0.063em;
  border: 0.063em solid #dedede; }

/**
 * Clearfix
 */
/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  font-family: 'Lato', sans-serif;
  min-height: 60px;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  background: transparent;
  z-index: 1; }

.site-header::before {
  content: '';
  position: absolute;
  width: 100%; }

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #444; }

.site-nav {
  line-height: 56px; }
  .site-nav .page-link {
    color: #C8B48C; }
  .site-nav .page-link {
    display: inline;
    padding: 5px 10px; }

/**
 * Page content
 */
.page-content {
  padding: 30px 0; }
  @media screen and (max-width: 420px) {
    .page-content {
      padding: 0px; } }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 15.75px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  font-family: 'Source Sans Pro', sans-serif;
  color: #373737;
  max-width: 540px;
  padding: 0px 10px;
  margin: 0 auto;
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 940px;
  height: 470px; }
  @media screen and (max-width: 420px) {
    iframe {
      width: 400px;
      height: 200px; } }

.post-content {
  font-family: 'Lato', sans-serif;
  color: #B3B3B3;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
  padding: 1.5em;
  position: relative;
  background-color: #1f1f1f;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 420px) {
    .post-content {
      padding: 0em; } }
  .post-content p {
    max-width: 940px;
    padding: 0px 10px;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 20px; }
  .post-content h1, .post-content h2 {
    text-align: center;
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 540px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h1, .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    text-align: center;
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 540px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    text-align: center;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 540px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-bottom: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }
  .post-content .highlight {
    font-family: Consolas;
    color: #333;
    z-index: -1;
    background: #fafafd;
    border: 0.063em solid #dedede;
    border-right: 0em solid #fff;
    line-height: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    left: 0;
    right: 0;
    margin: 20px 0px; }
  .post-content ul {
    max-width: 540px;
    padding: 0 10px;
    padding-left: 40px;
    margin: 0 auto;
    margin-bottom: 20px; }

/**
 * Home
 */
.home {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 auto; }
  @media screen and (max-width: 420px) {
    .home {
      max-width: 420px; } }

.home a {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  color: #fff; }

.home a:hover {
  color: #ED5D01; }

.home a::before {
  width: 0; }

.home .post-meta {
  text-align: right; }

.home .short-post {
  margin: 0.5em;
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;
  max-width: 100%;
  width: 100%; }
  @media screen and (max-width: 420px) {
    .home .short-post {
      margin: 0em;
      max-width: 100%;
      width: 100%; } }

.cover {
  color: #374B73;
  height: 100%;
  margin-top: -64px;
  background: url("../img/top.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: auto; }
  @media screen and (max-width: 420px) {
    .cover {
      margin-top: 0px; } }

.site-name {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: right;
  position: relative;
  height: 100%;
  z-index: 0; }

.site-name__inner {
  position: absolute;
  top: 150px;
  width: 100%;
  right: 0;
  width: 400px; }
  @media screen and (max-width: 420px) {
    .site-name__inner {
      font-size: 30px;
      top: 60px; } }

.site-name__inner .name {
  font-size: 75px;
  color: rgba(255, 255, 255, 0);
  font-family: 'Lato', sans-serif;
  text-shadow: 0px 0px 15px #fff, 0px 0px 10px #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1; }
  @media screen and (max-width: 420px) {
    .site-name__inner .name {
      font-size: 30px; } }

.site-name__inner a:hover {
  color: #fff;
  text-shadow: none; }

.site-name__inner .desc {
  font-size: 20px;
  font-family: 'Lato', sans-serif; }
  @media screen and (max-width: 420px) {
    .site-name__inner .desc {
      font-size: 30px; } }

.site-name__inner .btn {
  padding: 10px 30px;
  border: 2px solid #fff;
  display: inline-block;
  margin-top: 100px;
  border-radius: 3px;
  cursor: pointer; }

/**
 * Syntax highlighting styles
 */
.highlight .hll {
  background-color: #49483e; }

.highlight .c {
  color: #7A7663; }

.highlight .err {
  color: #960050;
  background: red; }

.highlight .k {
  color: #00a8c8; }

.highlight .l {
  color: #ae81ff; }

.highlight .n {
  color: #111111; }

.highlight .o {
  color: #f92672; }

.highlight .p {
  color: #111111; }

.highlight .cm {
  color: #75715e; }

.highlight .cp {
  color: #75715e; }

.highlight .c1 {
  color: #75715e; }

.highlight .cs {
  color: #75715e; }

.highlight .ge {
  font-style: italic; }

.highlight .gs {
  font-weight: bold; }

.highlight .kc {
  color: #00a8c8; }

.highlight .kd {
  color: #00a8c8; }

.highlight .kn {
  color: #f92672; }

.highlight .kp {
  color: #00a8c8; }

.highlight .kr {
  color: #00a8c8; }

.highlight .kt {
  color: #00a8c8; }

.highlight .ld {
  color: #d88200; }

.highlight .m {
  color: #ae81ff; }

.highlight .s {
  color: #d88200; }

.highlight .na {
  color: #75af00; }

.highlight .nb {
  color: #111111; }

.highlight .nc {
  color: #75af00; }

.highlight .no {
  color: #00a8c8; }

.highlight .nd {
  color: #75af00; }

.highlight .ni {
  color: #111111; }

.highlight .ne {
  color: #75af00; }

.highlight .nf {
  color: #75af00; }

.highlight .nl {
  color: #111111; }

.highlight .nn {
  color: #111111; }

.highlight .nx {
  color: #111111; }

.highlight .py {
  color: #111111; }

.highlight .nt {
  color: #f92672; }

.highlight .nv {
  color: #111111; }

.highlight .ow {
  color: #f92672; }

.highlight .w {
  color: #111111; }

.highlight .mf {
  color: #ae81ff; }

.highlight .mh {
  color: #ae81ff; }

.highlight .mi {
  color: #ae81ff; }

.highlight .mo {
  color: #ae81ff; }

.highlight .sb {
  color: #d88200; }

.highlight .sc {
  color: #d88200; }

.highlight .sd {
  color: #d88200; }

.highlight .s2 {
  color: #d88200; }

.highlight .se {
  color: #8045FF; }

.highlight .sh {
  color: #d88200; }

.highlight .si {
  color: #d88200; }

.highlight .sx {
  color: #d88200; }

.highlight .sr {
  color: #d88200; }

.highlight .s1 {
  color: #d88200; }

.highlight .ss {
  color: #d88200; }

.highlight .bp {
  color: #111111; }

.highlight .vc {
  color: #111111; }

.highlight .vg {
  color: #111111; }

.highlight .vi {
  color: #111111; }

.highlight .il {
  color: #ae81ff; }

/**
 * buttons and some other ui specific stuff...
 */
.navlink {
  padding-left: 1em;
  font-family: 'Lato';
  font-size: 42px;
  color: rgba(255, 255, 255, 0);
  text-shadow: 0px 0px 6px #fff, 0px 0px 3px #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media screen and (max-width: 420px) {
    .navlink {
      text-shadow: none;
      color: #fff;
      font-size: 18px;
      padding-left: 30px; } }

.navlink:hover {
  color: #fff;
  text-shadow: none; }

/**
 * Custom css by mask-type:
 */
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.11111rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  font-size: 0.88889rem;
  background-color: #B3B3B3;
  border-color: #007095;
  color: #FFFFFF;
  transition: background-color 300ms ease-out; }
  .button p {
    font-size: 5pt;
    padding-top: 5px; }

.fimage {
  position: relative;
  width: 100%;
  /* for IE 6 */ }
  .fimage img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important; }

.f-license {
  position: relative;
  text-align: center;
  top: -40px;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  transition: all .5s ease-in-out;
  display: table;
  width: 50%;
  margin: 0 auto; }
  .f-license a {
    color: white !important;
    font-size: 7pt; }
    @media screen and (max-width: 420px) {
      .f-license a {
        font-size: 5pt; } }
  .f-license:hover {
    -webkit-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    color: white; }

.video-container iframe {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important; }

.page-content iframe {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important; }
  .page-content iframe h1 h2 h3 {
    text-align: center; }

.custom-short {
  padding: 3%;
  margin-top: 5em;
  transition: box-shadow 0.4s;
  transition: transform ease-out 0.4s, background 0.4s; }
  .custom-short:hover {
        /**
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow;
        transition-property: box-shadow;
        box-shadow: 0 0 8px rgba(273, 93, 1, 0.8);

         **/
    box-shadow: 0 0 0 5px rgba(255, 93, 1, 0.6);
    -webkit-transform: scale(1.009);
    -moz-transform: scale(1.009);
    -ms-transform: scale(1.009);
    transform: scale(1.009); }
  .custom-short .post-foot {
    color: #ED5D01;
    height: 100%;
    margin: 0 auto;
    margin-right: 3%;
    display: block; }

.PageNavigation {
  text-align: center; }
