---
layout: home
---

<a name="start"> </a>
{% for post in paginator.posts %}
<div class="home">
  <ul class="post-list">
    <div class="short-post custom-short">
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      <span class="post-meta post-foot">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>{{ post.excerpt }}</p>
<p>
<a class="button" href="{{ post.url }}" role="button">moar...<i class="fa fa-arrow-circle-right"></i></a>
</p>
      </li>


    </div>
  </ul>
</div>
{% endfor %}


<!-- Pagination links -->
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" >Previous</a>
  {% else %}
  <div >Previous</div>
  {% endif %}
  <span >Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" >Next</a>
  {% else %}
  <div >Next</div>
  {% endif %}
</div>

</div>

