<nav role="navigation">
<div id="navbar" class="sticky">
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
        <ul class="button-group">
          <li><a href="/#about" id="about-button" class="button radius">About</a></li>
          <li><a href="/#Contact" id="contact-button" class="button">Contact</a></li>
          <li><a href="/#Impressum" id="impressum-button" class="button">Impressum</a></li>
          <li><a href="/#Blog" if="blog-button" class="button radius">Blog</a></li>
        </ul>
      </div>
      <a href="/"><h1 id="name">Martin Deubzer</h1></a>
    </div>
  </div>
</div>
</nav>
